.pill-wrapper {
  display: inline-block;
  margin-bottom: 0.5rem;
  overflow-wrap: anywhere;
}

.pill {
  all: unset;
  white-space: nowrap;
  text-align: center;
  border-radius: 999px;
  padding: 0.3rem 0.5rem;
  font-size: 0.85rem;
  color: #111;
  margin-right: 0.75rem;
  border: none;
}

.btn-wrapper {
  display: flex;
  gap: 0.5rem;
}

.filter-btn {
  padding: 0.25rem 0.75rem;
  border: none;
  outline: none;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.2s;
  color: black;
}

.filter-btn:hover {
  opacity: 0.6 !important;
  transition: 0.2s;
}

/* Hide property listings */
.hide {
  display: none;
}
